%nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
  %button.navbar-toggler.navbar-toggler-right{ "aria-controls" => "navbar-supported-content",
                                                "aria-expanded" => "false",
                                                "aria-label" => "Toggle navigation",
                                                "data-target" => "#navbar-supported-content",
                                                "data-toggle" => "collapse",:type => "button" }
    %span.navbar-toggler-icon
  %a.navbar-brand{ :href => "#" } PaperTool
  .collapse.navbar-collapse#navbar-supported-content
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{ :href => "#" }
          Home
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{ :href => "/pages/page_pdf.pdf?sq=5" } 5mm squares
      %li.nav-item
        %a.nav-link{ :href => "/pages/page_pdf.pdf?sq=10" } 10mm squares
      %li.nav-item
        %a.nav-link{ :href => "/pages/page_pdf.pdf?sq=5&tp=dots" } 5mm dots
      %li.nav-item
        %a.nav-link{ :href => "/pages/page_pdf.pdf?sq=10&tp=dots" } 10mm dots
.container.form-size
  .row.justify-content-center
    .col-md-4
      %h1 Generate printable paper
      %br/
      %h3 Choose your design
      = form_tag(pages_page_pdf_path, class: "form my-2 my-lg-0") do
        = select_tag 'tp', raw('<option>squares</option><option>lines</option><option>dots</option>'), class: "form-control"
        = text_field_tag 'sq', nil, class: "form-control mr-sm-2", placeholder: "Enter mm (default: 10)"
        %br/
        %h3 Header
        = text_field_tag 'h1', nil, class: "form-control mr-sm-2", placeholder: "Enter title (Date:)"
        = text_field_tag 'body', nil, class: "form-control mr-sm-2", placeholder: "Enter body (page n°)"
        = hidden_field_tag :format, :pdf
        %br/
        %button.btn.btn-outline-success.my-2.my-sm-0{ :type => "submit" } Generate
%footer.footer
  .container
    %span.text-muted
      PaperTool by
      = link_to 'Roberto Alicata', 'http://robertoalicata.it'
